@use '../utilities' as u;

.button-container, .button-container-challenges{
    @include u.flex(row, center, center);
    
    width: 50%;
    gap: 2rem;
    
    transform: translateY(-15px);

     @media screen and(max-width: u.$tablet-size) {
        flex-direction: column; 
     }
}

.button-container-challenges{
  margin: auto;
  height: 15vh;
}