@use '../utilities' as u;

.primary-btn, 
.secondary-btn, 
.third-btn, 
.fourth-btn{
    @include u.flex(row, center, center);
    gap: 1rem;

    background-color: u.$primary-btn-color;
    min-width: 20px;
    padding: 10px 25px ;

    border: none;
    border-radius: 5px;

    color: u.$secondary-btn-color;

    span.btn-icon{
        background-color: u.$secondary-btn-color; //will be removed when logo is added
        display: inline-block;
        color: u.$secondary-btn-color; //if font-awesome is used
        width: 2rem;
        height: 2rem;
    }
}


//third and fourth btn is a mix of first and second + a new look when screensize is for mobile

.secondary-btn, 
.fourth-btn{
    background-color: u.$secondary-btn-color;
    color: u.$primary-btn-color;
    
    border: 1px solid u.$primary-btn-color;

    span.btn-icon{
        background-color: u.$primary-btn-color;
        color: u.$primary-btn-color; //if font-awesome is used
     }
}


.third-btn, 
.fourth-btn{
    @media screen and (max-width: u.$tablet-size) {
        background-color: u.$secondary-btn-color;
        color: u.$primary-btn-color;
        
        border: none;
        border-bottom: 1px solid u.$primary-btn-color;
        border-radius: 0;
        padding: 4px;

        span.btn-icon{
            background-color: u.$primary-btn-color;
            color: u.$primary-btn-color;//if font-awesome is used
         }
    }
}

