@use '../utilities' as u;

.primary-btn, 
.secondary-btn, 
.third-btn, 
.fourth-btn{
    @include u.flex(row, center, center);
    background-color: u.$primary-btn-color;
    height: 6.6rem;
    width: 30rem;
    gap: 1rem;
    
    border: none;
    border-radius: 5px;
    
    color: u.$primary-btn-text-color;
    font-size: u.$medium-font;
    font-weight: bold;

    span.btn-icon{
        background-color: u.$secondary-btn-color; //will be removed when logo is added
        display: inline-block;
        color: u.$secondary-btn-color; //if font-awesome is used
        width: 2rem;
        height: 2rem;
    }
}


.secondary-btn{
    background: none;
    color: u.$secondary-btn-color;
    
    border: 1px solid u.$secondary-btn-color;

    span.btn-icon{
        background-color: u.$secondary-btn-color;
        color: u.$primary-btn-text-color; //if font-awesome is used
     }
}


.third-btn{
    color: u.$secondary-btn-text-color;
    background-color: u.$secondary-btn-color;
} 

.fourth-btn{
    @media screen and (max-width: u.$tablet-size) {
        background: none;
        
        color: u.$secondary-btn-color;
        text-decoration: underline;

        span.btn-icon{
            background-color: u.$primary-btn-color;
            color: u.$primary-btn-text-color;//if font-awesome is used
         }
    }
}

