/*
    will get a better name later on, when i know that to call this space ;)
*/
@use '../utilities' as u;

//img-section
.hero-section{
    @include u.section(100vw, 35vh, column, center, center);
}

//text-section - text postion center
#story-article-container{
    @include u.section(100vw, 35vh, column, center, center);
    
    div{
    @include u.flex(column, center, center);
    width: 60%;
    text-align: center;

        h2{
            font-size: u.$normal-font;
            margin-bottom: 5rem;
        }
    }
}

//empty section
#whiteSpace-container{
    width: 100vw;
    height: 15vh;
}