/*generall text*/
/*btns*/
/*screen sizes*/
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 100vw;
  height: 20vh;
  background-color: #011827;
  padding: 1rem;
}
header div.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 100%;
  height: 100%;
  height: 8.2rem;
}
header div.logo-container picture {
  min-width: 128px;
  height: inherit;
}
header div.logo-container picture img {
  object-fit: scale-down;
}
header div.logo-container .logo-text-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  height: inherit;
}
header div.logo-container .logo-text-container h1 {
  color: white;
  font-size: 4rem;
}
@media screen and (max-width: 840px) {
  header div.logo-container .logo-text-container h1 {
    font-size: 2.4rem;
    max-width: 90px;
  }
}
header nav {
  display: flex;
  width: 100%;
  height: 100%;
}
header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  max-width: 100%;
  height: 100%;
  list-style-type: none;
}
header nav ul li a {
  text-decoration: none;
  font-size: 1.8rem;
  color: white;
}
@media screen and (max-width: 840px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 100vw;
    height: 10vh;
  }
  header div.logo-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 100%;
    height: 100%;
    gap: 20px;
  }
  header div.logo-container .logo-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  header nav {
    background-color: gray;
    width: 30%;
  }
  header nav ul {
    display: none;
  }
}

/*
    will get a better name later on, when i know that to call this space ;)
*/
.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100vw;
  height: 46rem;
  min-height: 60rem;
}

#story-article-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100vw;
  height: 50vh;
  background-color: #011827;
}
#story-article-container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  text-align: center;
}
#story-article-container div h2 {
  font-size: 2.8rem;
  font-weight: 400;
  color: white;
  margin-bottom: 2rem;
}
@media screen and (min-width: 840px) {
  #story-article-container div h2 {
    margin-bottom: 5rem;
  }
}

#whiteSpace-container {
  width: 100vw;
  height: 15vh;
}
@media screen and (max-width: 840px) {
  #whiteSpace-container {
    display: none;
  }
}

#title-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100vw;
  height: 20vh;
}
#title-section h2 {
  font-size: 3.6rem;
  font-weight: 400;
}

.primary-btn,
.secondary-btn,
.third-btn,
.fourth-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #E3170A;
  height: 6.6rem;
  width: 30rem;
  gap: 1rem;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 2.4rem;
  font-weight: bold;
}
.primary-btn span.btn-icon,
.secondary-btn span.btn-icon,
.third-btn span.btn-icon,
.fourth-btn span.btn-icon {
  background-color: #8ACFE5;
  display: inline-block;
  color: #8ACFE5;
  width: 2rem;
  height: 2rem;
}

@media screen and (max-width: 840px) {
  .primary-btn {
    background: none;
    color: #8ACFE5;
    text-decoration: underline;
  }
  .primary-btn span.btn-icon {
    background-color: #E3170A;
    color: white;
  }
}

.secondary-btn {
  color: #011827;
  background-color: #8ACFE5;
}

.third-btn {
  background: none;
  color: #8ACFE5;
  border: 1px solid #8ACFE5;
}
.third-btn span.btn-icon {
  background-color: #8ACFE5;
  color: white;
}

.button-container, .button-container-challenges {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  gap: 1rem;
  transform: translateY(-3.3rem);
}
@media screen and (max-width: 840px) {
  .button-container, .button-container-challenges {
    flex-direction: column-reverse;
  }
}

.button-container-challenges {
  transform: translateY(0rem);
  margin: auto;
  min-height: 25vh;
}
@media screen and (min-width: 840px) {
  .button-container-challenges {
    height: 15vh;
  }
}

#testimonial-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100vw;
  height: 35vh;
  gap: 5rem;
}
@media screen and (max-width: 840px) {
  #testimonial-container .testimonial-quote:nth-child(n+2) {
    display: none;
  }
}

.testimonial-quote {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 40%;
  gap: 1.5rem;
}
.testimonial-quote picture {
  background-color: #011827;
  min-width: 8rem;
  height: 8rem;
  border-radius: 50%;
  overflow: hidden;
}
.testimonial-quote p {
  font-size: 2.4rem;
  font-style: italic;
  margin-bottom: 8px;
}
.testimonial-quote h3 {
  font-size: 1.8rem;
  font-weight: bold;
}
@media screen and (max-width: 840px) {
  .testimonial-quote {
    width: 70%;
  }
}

section#card-articles-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100vw;
  height: inherit;
  padding: 15px;
  gap: 3rem;
  overflow-x: scroll;
  overflow-y: hidden;
}
section#card-articles-container::-webkit-scrollbar {
  display: none;
}
@media screen and (max-width: 840px) {
  section#card-articles-container {
    justify-content: flex-start;
  }
}

article.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-evenly;
  width: 100%;
  max-width: 36rem;
  height: 44.6rem;
  min-width: 36rem;
  border-radius: 8px;
  box-shadow: 0px 0px 15px #929292;
  overflow: hidden;
}
article.card picture.card-top-part {
  position: relative;
  height: 50%;
}
article.card picture.card-top-part span.fa {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  width: 2.5rem;
  position: absolute;
  right: 5%;
  top: 10%;
}
article.card picture.card-top-part .rating-stars {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 1rem;
  position: absolute;
  left: 5%;
  bottom: 5%;
}
article.card picture.card-top-part .rating-stars li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.6rem;
}
article.card picture.card-top-part .rating-stars li.checked {
  color: #E3170A;
}
article.card div.card-bottom-part {
  height: 50%;
  padding: 10px;
}
article.card div.card-bottom-part .card-text-container {
  height: 70%;
}
article.card div.card-bottom-part .card-text-container h2 {
  font-weight: 400;
  font-size: 2.8rem;
}
article.card div.card-bottom-part .card-text-container small {
  font-size: 1.4rem;
}
article.card div.card-bottom-part .card-text-container p {
  line-height: 1.5rem;
  margin-top: 5%;
  line-height: 2rem;
  font-size: 1.8rem;
}
article.card div.card-bottom-part div.card-btn-container {
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
article.card div.card-bottom-part div.card-btn-container button {
  height: 4.4rem;
  width: 18rem;
  font-size: 1.8rem;
}

#grid-articles-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 1fr;
}
#grid-articles-container .grid-child-one {
  grid-column: span 6;
}
#grid-articles-container .grid-child-two {
  grid-column: span 6;
}
#grid-articles-container .grid-child-three {
  grid-column: span 6;
}
#grid-articles-container .grid-child-four {
  grid-column: 1/7;
  grid-row: 2;
}
@media screen and (max-width: 840px) {
  #grid-articles-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
  }
  #grid-articles-container .grid-child-four {
    grid-column: 1/7;
    grid-row: 4;
  }
}

.grid-child-img img {
  object-position: 0 10%;
}

.grid-child-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 46rem;
  gap: 1rem;
}
.grid-child-text h2, .grid-child-text p, .grid-child-text div {
  width: 60%;
}
.grid-child-text p {
  font-size: 1.8rem;
  margin: 2rem 0;
}
.grid-child-text h2 {
  font-size: 3.2rem;
}
.grid-child-text div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
@media screen and (max-width: 840px) {
  .grid-child-text div {
    flex-direction: column;
  }
}
.grid-child-text div button {
  font-size: 1.8rem;
}

footer {
  background-color: #011827;
  height: 50rem;
  padding: 5rem 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-row: auto;
  row-gap: 5rem;
  align-content: center;
}
footer div.footer-information-container {
  grid-column: 2/7;
  color: white;
}
footer div.footer-information-container h3 {
  font-size: 1.8rem;
}
footer div.footer-information-container p {
  font-size: 1.8rem;
}
@media screen and (max-width: 840px) {
  footer div.footer-information-container {
    grid-column: 3/12;
    grid-row: 1/2;
  }
}
footer nav.footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: space-between;
  grid-column: 7/11;
}
footer nav.footer-nav li {
  color: white;
  list-style: none;
  font-size: 1.8rem;
}
footer nav.footer-nav li a {
  color: white;
  text-decoration: none;
}
footer nav.footer-nav li.bold-text {
  font-weight: bold;
}
footer nav.footer-nav li.margin-up {
  margin-top: 1.5rem;
}
@media screen and (max-width: 840px) {
  footer nav.footer-nav {
    grid-column: 2/12;
    grid-row: 2/2;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /*1 rem = 10px*/
  overflow-x: hidden;
}
@media screen and (max-width: 840px) {
  html {
    font-size: 52.5%;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 42.5%;
  }
}

body {
  font-family: "Roboto", sans-serif;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  background-color: #011827;
}

.content-max-width {
  width: 100%;
  max-width: 1280px;
  margin: auto;
}

/*# sourceMappingURL=main.css.map */
