@use '../scss/components';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    /*1 rem = 10px*/
    @media screen and (max-width: u.$tablet-size) {
        font-size: 42.5%;
    }
}

img{
    width: 100%;
    height: 100%;
}

